.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item {
    display: flex;
}

.cartImageContainer {
    width: 30px;
    height: 30px;
}

.cartImage {
    object-fit: cover;

}
