.purchaseModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 20px;
}

.purchaseform {
    display: flex;
    justify-content: space-around;
}

.radio {
    margin: 10px;
}
