.deletemodal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 20px;
}

.deletebutton {
    border: none;
    border-radius: 30px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 15px;
    margin: 10px;
    width: 100px;
    cursor: pointer;

}

.deletebuttoncontainer {
    display: flex;
    justify-content: space-around;
}
