.profile-dropdown {
  position: absolute;

  border-radius: 30px;
  overflow: hidden;

}

.user {
  right: 30px;
}

.hidden {
  display: none;
}

.navbarcontainer {
  display: flex;
  margin: 20px;
  justify-content: space-around;
  align-items: center;
  position: relative;
  /* border: 1px solid blue; */
}

.search-bar-container {
  width: 60%;
  display: flex;
  /* border: 1px solid red; */
}

.search-bar {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  padding: 20px;
  font-size: 15px;
  /* border: 1px solid red; */
  outline: none;
}

.everetsy {
  color: #eb6d20;
  text-decoration: none;
  font-size: 40px;
  /* border: 1px solid red; */
}

.fa-solid {
  cursor: pointer;
  color: black;
  /* border: 1px solid red; */
}


.cartbutton {
  border: none;
  background-color: white;
  /* border: 1px solid red; */

}

.circleAmount {
  border-radius: 50%;
  background-color: #eb6d20;
  color: white;
  font-size: 12px;
  /* font-weight: bold; */
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  /* right: 20px; */
  border: 2px solid #eb6d20;
}

.carticonparent {
  display: flex;
  /* border: 1px solid purple; */
}

.search-button {
  background-color: transparent;
  border: none;
  color: grey;
  margin-left: -40px;
  outline: none;


}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
