.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navbarcontainer {
  display: flex;
  margin: 20px;
  justify-content: space-around;
  align-items: center;
}

.search-bar-container {
  width: 60%;
}

.search-bar {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  padding: 20px;
  font-size: 15px;
}

.everetsy {
  color: #eb6d20;
  text-decoration: none;
  font-size: 40px;
}

.fa-solid {
  cursor: pointer;
}
