.profile-dropdown {
    background-color: white;
    border: red 2px solid;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: none;
}

.profile-dropdown-items {
    padding: none;
}

.profileButton {
    border-radius: 100%;
    height: 50px;
    border: none;
    width: 50px;
}
