.projectDetailsContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 40px;
    margin: 50px;

}

.imageContainerDetails {
    overflow: hidden;
    border-bottom: 1px rgba(0, 0, 0, 0.693) solid;
    padding-bottom: 30px;


}

.imgDetails {
    width: 100%;
    object-fit: cover;
    max-height: 600px;


}

.reviewButtonDetails {
    padding: 10px;
}

.buttonDetails {
    width: 100%;
    height: 40px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.862);
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.shopNameDetails {
    color: #eb6d20;
    cursor: pointer;
}

.categoryproduct {
    font-weight: lighter;
    color: rgba(128, 128, 128, 0.8);
}

.special {
    background-color: grey;
    color: white;
}

.cartadded {
    color: #eb6d20;

}

.reviewbutton {
    background-color: #eb6d20;
}

.reviewContainer {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 20px rgba(34,34,34,.15);
    padding: 20px;
    border-radius: 30px;
    margin: 10px;
}

.reviewuser {
    color: rgba(0, 0, 0, 0.739);
}

.reviewcatname {
    padding-bottom: 5px;
    padding-top: 10px;
}

.starratingreviewcontainer {
    width: 30%;
    padding-bottom: 10px;

}

.reviewtextproductdetails {
    max-width: 60%;
}

.cumulativestarrating {
    margin-bottom: 16px;
}

.reviewsumcontainer {
    display: flex;
    align-items: center;
}

.reviewstarscumulative {
    padding: 10px;
}
