.imgShopDetails {
    max-width: 100px;
    max-height: 100px;
}

.shopDetailsContainer {
    display: flex;
    background-color: rgba(192, 190, 190, 0.10);
    padding: 20px;
    justify-content: space-around;

}

body {
    margin: 0px;
}
