.filled {
    color: black;
}
.empty {
    color: rgba(128, 128, 128, 0.738);
}

.rating-input {
    display: flex;
    justify-content: center;
    align-items: center;
}


.starstext {
    padding-left: 5px;
}

.reviewformmodal {
    display: flex;
    flex-direction: column;

}

