.reviewmodal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 20px;
    color: rgba(0, 0, 0, 0.862);
}


.filled {
    color: black;
}
.empty {
    color: rgba(128, 128, 128, 0.738);
}

.rating-input {
    display: flex;
    justify-content: center;
    align-items: center;
}


.starstext {
    padding-left: 5px;
}

.reviewformmodal {
    display: flex;
    flex-direction: column;

}

.submitreviewbutton {
    border: none;
    border-radius: 30px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.862);
    color: white;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
}
