.new-product-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 20px;
}

.new-product-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-product-form > label {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 300px;

}

.errors {
    color: red;
}

.productbutton {
    border: none;
    border-radius: 30px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.862);
    color: white;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
}
