.parentmanageshop {
    height: 100%;
}

.manageshoptop {
    height: 400px;
    background-color: #f8ebe6;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.manageshopbottom {
    height: 400px;
    /* background-color: blueviolet; */
}

.manageshopbuttoncontainer {
    padding-top: 235px;


}

.managecopy {
    font-weight: lighter;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.862);
}

.manageproductbuttons {
    display: flex;
}

.toppoduct {
    display: flex;
    justify-content: space-around;
}

.manageprodcat {
    color: rgba(128, 128, 128, 0.8);
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.detailsprodman {
    max-width: 400px;
    margin-bottom: 10px;
}
