.update-product-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 20px;
}

.update-product-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.update-product-form > label {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 300px;
}

.errors {
    color: red;
}
